---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import "rehype-callouts/theme/github";
import type { ImageMetadata } from "astro";
import FallbackImage from "../assets/default-social-preview.png";
import {
  SITE_TITLE,
  FULL_BASE_URL,
  CANONICAL_BASE_URL,
  IS_LIVE,
} from "../constants";

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
}

const { title, description, image = FallbackImage } = Astro.props;

const pageUrl = new URL(Astro.url.pathname, FULL_BASE_URL);
const imageUrl = new URL(image.src, FULL_BASE_URL);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
{!IS_LIVE && <meta name="robots" content="noindex, nofollow" />}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="sitemap" href={`${FULL_BASE_URL}sitemap-index.xml`} />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={`${FULL_BASE_URL}rss.xml`}
/>

<!-- Font preloads -->
<link rel="preload" href={`${FULL_BASE_URL}fonts/atkinson-regular.woff`} as="font" type="font/woff" crossorigin />
<link rel="preload" href={`${FULL_BASE_URL}fonts/atkinson-bold.woff`} as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={new URL(Astro.url.pathname.replace(import.meta.env.BASE_URL, ""), CANONICAL_BASE_URL)} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={pageUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={pageUrl} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageUrl} />

<!-- Umami -->
{IS_LIVE && <script defer src="https://cloud.umami.is/script.js" data-website-id="b95887db-9845-41e7-a3a1-ec60af45ad89"></script>}
